
.div-flex{
    display: flex;
    
}

.color {
    margin: 15px;
    height: 65px;
    width: 65px;
    border: solid 1px black;
    
}

.pixel {
    border: solid 1px black;
    height: 45px;
    width: 45px;
    
}

.line {
    display: flex;
}