.div-flex {
  display: flex;

}

.color {
  margin: 15px;
  height: 65px;
  width: 65px;
  border: solid 1px black;

}

.pixel {
  border: solid 1px black;
  height: 40px;
  width: 40px;

}

.line {
  display: flex;
}

#clear-board {
  margin: 14px;
  margin-bottom: 30px;
}
